
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');
body
{
    background-color: #180600;
    margin: 10px;
}
.img
{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.funda
{
    margin-top: 30px;
    width: 450px;
    height: auto;
    left: 217px;
    top: 156px;
    font-family: 'Roboto', sans-serif;
    

}
.full
{
    margin: 10px;
}
.left
{
    border-radius: 10px 0 0 10px;
    background-color: #AEAEAE;
}
.boxcontainer{
    border-radius: 10px;
    background-color: #180600;
        overflow: auto;
        /* Additional styling */
        width: 90%; /* Adjust the width as needed */
        height: 500px; 
      }
      
.right
{
    border-radius: 0px 10px 10px 0px;
    background-color: bisque;
}
.box
{
    background-color: antiquewhite;
    padding:5px;
    margin: 10px;   
    width: 65%; 
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.color
{
    box-shadow: rgba(245, 117, 5, 0.16) 0px 1px 4px, #EB8500 0px 0px 0px 3px;;
    
}

.rightcard {
    
    background-color: antiquewhite;
    padding-top: 10px;
    padding-left: 40px;
    height: 100%;

}

#utubevid {
    border-radius: 30px;
    margin: 10px;
    width: 65%;
    height: 50%;
}

#txtarea {
    margin: 10px;
    color: #180600;
    background-color: #E6F2FF;
    resize: none;
    width: 80%;
    height:30%;
}

.resource {
    border-radius: 50px;
    padding: 4px 20px 4px 20px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}

.resource .spanres {
    
    position: relative;
    z-index: 2;
}

.resource:after {
    border-radius: 50px;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4C4C6D;
    transition: all .35s;
}

.resource:hover {
    color: #fff;
    text-decoration: none;
}

.resource:hover:after {
    width: 100%;
}
.side{
    background-color: #180600;
}
.title
{
    margin: 10px;
    font-family: 'Inter', sans-serif;

}
.op{
    height: 150px;
    cursor:grab;
}
.animate{
    animation: hello;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes hello{
    0%{transform: translateY(0px);}
    49%{transform: translateY(10px);}
    100%{transform: translateY(0px);}
};
